header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e2e2e2;
}
 h1{
    text-align: center;
    font-size: 2.5rem;
    white-space: nowrap ;
    

}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height:  1.6;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f7fa;
    
}
.section1{
    margin-top: 35px; 
}
ul li i{
    color: #4c4f50;
    list-style: none;
    transform: scale(1.1)
    
    
    
}
.html-icon :hover{
    color:#ee6347 !important;
    
}
.css-icon:hover{
    color:blue
}
.js-icon:hover{
    color: gold;
}
ul li img{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    margin-left: 10px;

}
ul li img{
    border-width: 25px;
    
    margin-right: 10px;
}
p{
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 20px;
}
nav{
    background-color: #0a66c2;
    padding: 12px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav ul li{
    margin: 0 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}
nav a:hover{
    color: red;
}
nav {
    position: sticky;/*pour  mettre le menu visible en haut meme quand tu descends en bas de la page*/
    top: 0;
}